<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sdl.kechengbao" >

    <uses-sdk
        android:maxSdkVersion="44"
        android:minSdkVersion="9"
        android:targetSdkVersion="21" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <!-- 声明权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FAQActivity"
            android:label="@string/title_activity_faq" >
        </activity>
        <activity
            android:name=".ShowCources"
            android:label="@string/title_activity_show_cources"
            android:icon="@mipmap/ic_launcher"
            android:theme="@style/CustomActionBarTheme">
        </activity>
        <activity
            android:name=".ShowNotice"
            android:label="@string/title_activity_show_notices" >
        </activity>
        <activity
            android:name=".ShowChapters"
            android:label="@string/title_activity_show_chapters" >
        </activity>
        <activity
            android:name=".ActGroup"
            android:label="@string/title_activity_actgroup" >
        </activity>
        <activity
            android:name=".CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name=".JoinCourse"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name=".ActivityAsk"
            android:label="@string/title_activity_activity_ask"
            android:parentActivityName="com.sdl.kechengbao.FAQActivity"
            android:theme="@style/CustomActionBarTheme">
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sdl.kechengbao.FAQActivity" />
        </activity>
        <activity
            android:name=".ActivityAnswer"
            android:theme="@style/CustomActionBarTheme"
            android:parentActivityName="com.sdl.kechengbao.FAQActivity"
            android:label="@string/title_activity_activity_answer" >
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sdl.kechengbao.FAQActivity" />
        </activity>
    </application>

</manifest>
